.App-header {
  text-align: center;
  font-size: 30px;
}

.Drop-Box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.Shop-card {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.Store-Name {
  width: 400px;
  font-weight: "bold";
}
