.App-header {
  text-align: center;
  font-size: 30px;
}

.Drop-Box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.Shop-card {
  display: flex;
  /* align-items: center; */
  justify-content: left;
  margin-top: 10px;
  width: 300px;
  margin-left: 200px;
}

.Store-Name {
  font-weight: "bold";
  padding-top: 10px;
}

.Store-title {
  display: flex;
  align-items: center;
}

.adImage {
  width: 15px;
  height: 15px;
}
